#loan-value-input>div{
    width: 75% !important;
}

#select-currency{
    display: flex;
    width: 0.2em !important;
    height: 0.1em !important;
    font-size: small !important;
    margin-bottom: 5%;
    margin-left: -24%;
}

#currency-grid>div>div{
    height: 2em;
    width: 4em;
    margin-bottom: -34%;
    padding-left: 10%;
    margin-left: -55%;
}