#project-list-subheader{
    display: flex;
    font-size: 130% !important;
    text-align: center;
}

#search{
    margin-left: -5%;
    margin-top: -10%;
}

.project_name>span{
    display: flex;
    color: #483d8b;
    font-size: 120% !important;
    margin-left: -20% !important;
    align-items: baseline !important;
}

.display{
    text-align: center !important;
}