.card-header>h2{
  margin-left: 3%;
  margin-top: 2%;
}

.img_div{
  display: flex;
  height: 90% !important;
	width: auto;
	align-items: center; 
	justify-content: center;
}

img{
  width: auto;
	height: 100%;
}

#table-head{
  margin-top: -4% !important;
  margin-bottom: -15% !important;
  margin-left: 0%;
}

.MuiTableCell-root{
  // border-color: red !important;
  border-width: 0.01em;
  border-style: dashed;
  border-bottom: 0.2em double;
}

.MuiTableRow-root{
  border-width: 0.01em;
  border-style: dashed;
}

#table-paper{
  background-color: inherit;
}